$color-card: #4e4e4e;
$color-error:#fd0000;
$color-translate: #f5c518;
$color-text:white;
$color-background:#2f2f2f;
$color-main:black;
$color-key-selected: #c1c1c1; 

$content-width: 1197px;
$tablet-width: 767px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;