.owl-carousel {
  margin: 30px 0;
}
.card {
  width: 200px;
  margin: auto;
  color:$color-text;
  background-color: $color-card;
  border-radius: 5px;
  .image {
    height: 300px;
    object-fit: cover;
  }
}

.film-name {
  color: $color-text;
  h2 {
    margin: 0;
    padding: 3px;
    height: 43px;
    line-height: 18px
  }
}

.card_text {
  span {
    display: block;
    margin: 5px;
    font-size: 15px;
  }
}

.owl-nav {
  button{
    background: $color-background !important;
    border:0;
    outline: none;
    span {
      font-size: 40px;
    }
  }
  position: absolute;
  top: 131px;
  width: 110%;
  z-index: -1;
  left: -5%;
}

.owl-dots {
  margin: 10px;
}

.owl-dot {
  border: 0;
  background-color: $color-background;
  outline: none;
}

.owl-item {
  width: 10%;
}

.owl-prev {
  float: left;
}

.owl-next {
  float: right;
}